.footer {
    margin-top: 5rem;
    background-color: #222;
    color: white;
    padding: 20px 0;
    
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px;
  }
  
  .footer-section {
    flex: 2;
    min-width: 250px;
    margin: 10px;
  }
  
  .footer-section h2 {
    font-size: 18px;
    min-width: 180px;
    margin-bottom: 10px;
  }
  
  .footer-section p,
  .footer-section ul {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #bbb;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
  }
  